# vim cache
*.swm
*.swn
*.swo
*.swp

# python files
.pyc
__pycache__/

# data
/data/train/
/data/val/
/data/test/

# git files
.idea/

# jupyter files
.ipynb_checkpoints/

# tensorflow files
/checkpoints/
/logs/
